.TimeTable .addRow {
    margin-top: 30px;
    position: absolute;
    right: 30px;
}

.TimeTable .TotalsRow {
    background-color: #fdfdfd;
}

.TimeTable .TotalsRow td {
    padding-bottom: 20px;
    padding-top: 20px;
}